/* ========ABOUT_ALL_START======== */
:root {
  --hover-color: #2196f3;
  --background-footer-color: #2f303a;
  --second-text-color: #757575;
  --first-text-color: #212121;
  --background-color: #ffffff;
  --background-card-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
/* ========ABOUT_ALL_END======== */

/* =====HEADER_START===== */
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.web {
  color: var(--hover-color);
}

.studio-black {
  color: var(--first-text-color);
}

.studio-white {
  color: var(--background-color);
}

.nav-menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.contacts a {
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
}

/* ========HEADER_END======== */

/* =======MAIN_PORTFOLIO_START======= */

.images-tittle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.images-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.185;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--hover-color);
  color: var(--background-color);
}

.portfolio-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.cards-link {
  text-decoration: none;
}

/* =======MAIN_PORTFOLIO_END======= */

/* =====MAIN_INDEX.HTML_START===== */

.hero {
  background-color: var(--background-footer-color);
}

.hero-tittle {
  color: var(--background-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--background-color);
  cursor: pointer;
}

.qualities-tittle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.qualities-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.our-team {
  background-color: var(--background-card-color);
}

.our-team-menu {
  margin-bottom: 0px;
}

.our-team-link {
  text-decoration: none;
  color: var(--first-text-color);
  background-color: var(--background-color);
}

.our-team-card {
  margin-bottom: 0px;
}

.our-team-tittle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.our-team-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* =====MAIN_INDEX.HTML_END===== */

/* ===========FOOTER_START============ */

.contacts-footer a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: var(--background-footer-color);
  width: 1600;
  height: 252;
}

.address {
  color: var(--background-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
}

/* ===========FOOTER_END============ */

/* ==========SERVISES_START========== */
.section-tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.nav-menu :hover,
.nav-menu :focus,
.contacts :hover,
.contacts :focus,
.accent {
  color: var(--hover-color);
}
/* ==========SERVISES_END========== */
