:root {
  --hover-color: #2196f3;
  --background-footer-color: #2f303a;
  --second-text-color: #757575;
  --first-text-color: #212121;
  --background-color: #ffffff;
  --background-card-color: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.logotip {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.web {
  color: var(--hover-color);
}
.studio-black {
  color: var(--first-text-color);
}
.studio-white {
  color: var(--background-color);
}
.nav-menu :hover,
.nav-menu :focus {
  color: var(--hover-color);
}
.contacts :hover,
.contacts :focus {
  color: var(--hover-color);
}
.nav-menu a {
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.contacts a {
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.images-tittle {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}
.images-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.footer {
  background-color: var(--background-footer-color);
  width: 1600;
  height: 252;
}
.address {
  color: var(--background-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
}
.buttons:hover,
.buttons:focus {
  background-color: var(--hover-color);
  color: var(--background-color);
}
.buttons {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.cards-a {
  text-decoration: none;
}
/* Styles for <main> index.html */
.hero {
  background-color: var(--background-footer-color);
}
.hero-tittle {
  color: var(--background-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--background-color);
}
.qualities-tittle {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.qualities-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.our-vork-tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.our-team {
  background-color: var(--background-card-color);
}
.our-team-list {
  margin-bottom: 0px;
}
.our-team-link {
  text-decoration: none;
  color: var(--first-text-color);
  background-color: var(--background-color);
}
.our-team-card {
  margin-bottom: 0px;
}
ul {
  list-style-type: none;
}
